/* 전체 배경 색상 및 폰트 설정 */
body {
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow: hidden;
    background-repeat: no-repeat;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

/* 작은 화면에 대한 스타일 */
@media screen and (max-width: 768px) {
    body {
        background-size: contain;
    }
}

#clock {
    font-size: 100px;
    margin-bottom: 20px;
}

#login-form,
#greeting,
#todo-form,
#quote,
#weather {
    width: 70%;
    max-width: 600px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}